body {
  background-color: #fffbef;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* .container {
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
  min-height: 100vh;
} */
.footer {
  /* position: absolute; */
  bottom: 0;
  background-color: #e4af9b;
  height: 60px;
  right: 0;
  left: 0;
  text-align: center;
  vertical-align: center;
  justify-content: center;
  display: flex;
  padding-top: 40px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
